
body {
    background-color: #d6ebed;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.wrapper {
    background-color: #d6ebed;
}
h1 {
    text-align: center;
    background-color: rgb(252, 176, 140);
    padding: 15px; 
    margin: 0;
}
.div_flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 15px 0;
    background-color: #8b9393;
}
.ul_flex_1024 {
    display: none;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 15px 0;
    background-color: #8b9393;
}
.link-menu {
    display: block;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 0 10px;
}
.link-menu-information {
    color: black;
}
.main_flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left_part {
    width: 30%;
    background-color: rgb(252, 176, 140);
}
.left-part-information{
    padding-left: 20px;
}
.avatar {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}
p {
    padding: 0 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.information_ul {
    list-style: none;
    padding: 0;
}
.right_part {
    width: 70%;
    border-right: 1px solid #8b9393;
}   
.right_div {
    text-align: center;
}
.hrework {
    background-color: rgb(252, 176, 140);
    padding: 15px; 
    margin: 0;
}
article {
    margin-top: 10px;
}
.example_code {
    background: #8b9393;
    margin: 0;
}
pre {
    padding: 15px;
    margin: 0;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 14px 30px;
    font-size: 1.2rem;
    background-color: rgb(252, 176, 140);
}

@media screen and (max-width: 1024px){
    .link-menu {
        width: 20%;
    }
}
@media screen and (max-width: 780px) {
    .left_part {
        width: 40%;
    }
    .right_part {
        width: 60%;
    }
}
@media screen and (max-width: 550px){
    .left_part,
    .left-part-information {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .right_part{
        width: 100%;
    }
    .main_flex{
        flex-direction: column;
    }
    nav{
        display: none;
    }
}